/* Write your CSS here */
.tab-item {
  list-style-type: none;
}
.tab-button {
  color: #7b8794;
  font-size: 30px;
  font-weight: 500;
  font-family: Roboto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dfe2e5;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 8px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.Active{
  color: #2563eb;
  border-bottom: 3px solid #2563eb;
  padding-bottom: 12px;
}
